.in-progress {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.done {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.todo {
  background-image: linear-gradient(to right, #ffecd2 0%, #c72121 51%, #ffecd2 100%);
}

.titles {
  display: flex;
  padding-bottom: 10px;

  justify-content: center;
  flex-direction: column;
  text-align: center;
}
